@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,600&display=swap');

:root {
  /*se usa para declarar variable, cuando tenemos elemntos repetitivos*/
  --green-color: #65b01e;
  --white-color: white;
  --black-color: #313337;
  /* espaciado */
  --space: 10px;
  --normal: 12px;
  --box: 0px 0 2px 1px #c1bcbc;
}

html, body {
  padding: 0px;
  margin: 0px;
  font-size: var(--normal);
  font-family: "Open Sans", sans-serif;
}

nav {
  background-color: var(--green-color);
  padding: var(--space);
  display: flex;
  color: var(--white-color);
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
}

nav li {
  padding-left: 20px;
  list-style: none;
}

nav li a {
  color: var(--black-color);
  text-decoration: none;
}

nav li a:hover {
  color: var(--white-color);
}

.main_section {
  padding: 27%;
  text-align: center;
}

.products {
  background-image: url("../images/curve.png");
  height: 0px;
  background-size: cover;
  background-position: center top;
  /*me sirve para ajustar a la pantalla*/
  padding: 15%;
  display: flex;
}

.product {
  padding: var(--space);
  margin-top: -380px;
}

.content {
  background-color: var(--white-color);
  padding: 15px;
}

.img_content {
  text-align: center;
}

.main_button {
  background-color: var(--green-color);
  width: 100%;
  padding: var(--space);
  font-size: 17px;
  color: var(--white-color);
  border: 0;
  cursor: pointer;
  /*sirve para cambia el tipo de curso cuando se para en un elemanto*/
  border-radius: 5px;
}

.main_button:hover {
  background-color: #46830c;
}

.seccion_2 {
  padding: var(--space);
  margin-top: -380px;
  display: flex;
  margin: 10%;
}

.product_2 {
  padding: var(--space);
  margin-top: -100px;
  background-size: cover;
  background-position: center top;
  display: flex;
}

.img_pecados {
  text-align: center;
}

.main_button_2 {
  background: #7a5f85;
  color: white;
  width: 100%;
  font-size: 17px;
  border-radius: 5px;
  padding: var(--space);
  cursor: pointer;
}

.main_button_2:hover {
  background: #8749a1;
}

.seccion_3 {
  display: flex;
  background: #a6d2ec;
}

.agradecimientos {
  margin: 10px;
  width: 480px;
  border-radius: 10px;
  overflow: hidden;
  background: #4f8aac;
}

.desciption {
  margin: 10px 10px;
  margin-top: -40px;
  background-color: white;
  position: relative;
  padding: 20px;
  text-align: center;
}

.img_thanks {
  text-align: center;
  object-fit: cover;
}

.title_3 {
  text-align: center;
  padding: 5px;
}

footer {
  color: white;
  background-color: #142a40;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Foo{
  display: flex;
  padding: 10px;
  align-items: baseline;
  justify-content: space-between;

}

.option {
  padding: 10px;
  display: block;
}
.option_1 {
  padding: 10px;
  display: block;
  align-items: center;
}

.parrafo  {
  height: 35%;
}

/* ---------------------VENTAS///// */

.modulo_pago {
  background-color: var(--white-color);
  box-shadow: var(--box);
  padding: var(--space);
}

.modulo_pago_images {
  text-align: center;
  width:100%;
  margin:auto;

}
label {
  padding-bottom: var(--space);
}
.data {
  margin-top: var(--space);
  width: 100%;
  height: 35px;
  border-radius: 2px;
  border: 1px solid #838685;
  box-sizing: border-box;
}

.modulo_pago .main_button {
  margin-top: 2%;
}
